# Database
DATABASE_URL=file:./dev.db
# NextAuth config
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=changeme
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# OpenAI
OPENAI_API_KEY=your-api-key

# Stripe
STRIPE_SECRET_KEY=your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=your-webhook-secret
STARTER_PRICE_ID=price_starter
PRO_PRICE_ID=price_pro
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test
NEXT_PUBLIC_BRAND_NAME=your-brand-name

# Instagram
NEXT_PUBLIC_IG_APP_ID=1458100555084581
IG_APP_SECRET=2cbc4d13d758a8bc7263d6cd4f588a9c
